# Fill with real public keys from each server.
HQ_PUBLIC_KEY=<HQ_PUBLIC_KEY>
COMPUTE_PUBLIC_KEY=<COMPUTE_PUBLIC_KEY>
FAILOVER_PUBLIC_KEY=<FAILOVER_PUBLIC_KEY>
HEL_PUBLIC_KEY=<HEL_PUBLIC_KEY>
US_PUBLIC_KEY=<US_PUBLIC_KEY>
SG_PUBLIC_KEY=<SG_PUBLIC_KEY>
